<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          <span class="ion-ios7-contact-outline"></span> Login
        </ion-item>

          <ion-item nav-clear menu-close href="#/app/todo">
              <span class="ion-clipboard"></span> To Do List
          </ion-item>

        <ion-item nav-clear menu-close href="#/app/calendar">
          <span class="ion-calendar"></span> Calendar
        </ion-item>

          <ion-item nav-clear menu-close href="#/app/schedule">
              <span class="ion-clipboard"></span> Class Schedule
          </ion-item>

        <ion-item nav-clear menu-close href="#/app/playlists">
          <span class="ion-gear-a"></span> Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
