<body ng-app="app" ng-controller="ToDoListCtrl">

<ion-header-bar align-title="center" class="bar-dark">
    <button class="button button-icon icon ion-ios7-minus-outline"
            ng-click="data.showDelete = !data.showDelete;"></button>
    <h1 class="title">Class Schedule</h1>
    <div class="buttons">
        <button class="button-balanced" ng-click="openModal()">+ Add Class</button>
    </div>
</ion-header-bar>
<ion-content>
    <ion-list show-delete="data.showDelete">

        <ion-item ng-repeat="item in toDoListItems">

            <p class="schedule">Class:</p>{{item.task}}
            <p class="schedule">Teacher:</p>{{item.task2}}
            <p class="schedule">Room:</p>{{item.task3}}
            <p class="schedule">Time:</p>{{item.task4}}
            <p class="schedule">Day of Week:</p>{{item.task5}}
            <ion-delete-button class="ion-minus-circled"
                               ng-click="onItemDelete(item)">
            </ion-delete-button>
        </ion-item>

    </ion-list>

</ion-content>

<script id="modal.html" type="text/ng-template">
    <div class="modal">
        <div class="bar bar-header bar-calm">
            <button class="button" ng-click="closeModal()">back</button>
            <h1 class="title">Add Your Class Schedule</h1>
        </div>
        <br></br>
        <br></br>
        <form ng-submit="AddItem(data)">
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input" ng-model="data.newItem">
                        <input type="text" placeholder="Class Name: DGM 3790 | Rich Internet Applications I" ng-model="data.newItem">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Teacher's Name: Thor Anderson" ng-model="data.newItem2">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Classroom Number: CS 715b" ng-model="data.newItem3">
                    </label>
                    <label class="item item-input">
                        <input type="time" placeholder="Class Time: 8:30 AM" ng-model="data.newItem4">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Days of Class
                        </div>
                        <select ng-model="data.newItem5">
                            <option>Monday, Wednesday</option>
                            <option>Tuesday, Thursday</option>
                        </select>
                    </label>

                </div>
                <button class="button button-block button-positive" type="submit">
                    + Add Class
                </button>
            </div>
        </form>
    </div>
</script>


<div class="bar bar-footer">
    <form action="index.html">
        <button class="button icon-left ion-home button-dark">Home</button>
    </form>


</div>
