<ion-view title=" Class Schedule">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" ng-controller="ToDoListCtrl">

        <ion-header-bar align-title="center" class="bar-positive">
            <button class="button button-icon icon ion-ios7-minus-outline"
                    ng-click="data.showDelete = !data.showDelete;"></button>
            <h1 class="title"></h1>
            <div class="buttons">
                <button class="button icon-left ion-map button-stable" ng-click="openModal2()"></button>
                <button class="button icon-left ion-ios7-plus-outline button-stable" ng-click="openModal()">Add Class</button>
            </div>
        </ion-header-bar>

        <ul ng-repeat="schedule in schedule">
<div class="cardcontainer">
            <div class="list card">

                <div class="item item-divider">
                <p class="example">Example</p>
                    </div>
                <div class="item item-body">
            <p>{{schedule.class}}</p> <input type="text" placeholder="DGM 3790 | Rich Internet Applications I">
            <p>{{schedule.teacher}}</p> <input type="text" placeholder="Thor Anderson">
            <p>{{schedule.room}}</p> <input type="text" placeholder="CS 715b">
            <p>{{schedule.time}}</p> <input type="text" placeholder="8:30 AM">
            <p>{{schedule.description}}</p>
</div>
            </div>
            </div>


        <ion-list show-delete="data.showDelete">
            <ion-item class="scheduleitem" ng-repeat="item in toDoListItems" ng-show="!$first">
                <p class="schedule">Class:<br><a class="listitem">{{item.task}}</a></p>
                <p class="schedule">Teacher:<br><a class="listitem">{{item.task2}}</a></p>
                <p class="schedule">Room:<br><a class="listitem">{{item.task3}}</a></p>
                <p class="schedule">Time:<br><a class="listitem">{{item.task4}}</a></p>
                <p class="schedule">Days of Week:<br><a class="listitem">{{item.task5}}</a></p>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onItemDelete(item)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="modal.html" type="text/ng-template">
        <div class="modal">
            <div class="bar bar-header bar-calm">
                <button class="button" ng-click="closeModal()">back</button>
                <h1 class="title">Add Your Class Schedule</h1>
            </div>
            <br>
            <br>
            <form ng-submit="AddItem(data)">
                <div class="list">
                    <div class="list list-inset">
                        <label class="item item-input" ng-model="data.newItem">
                            Class Name: <input type="text" placeholder="DGM 3790 | Rich Internet Applications I" ng-model="data.newItem">
                        </label>
                        <label class="item item-input">
                            Teacher's Name: <input type="text" placeholder="Thor Anderson" ng-model="data.newItem2" required="">
                        </label>
                        <label class="item item-input">
                            Classroom Number: <input type="text" placeholder="CS 715b" ng-model="data.newItem3">
                        </label>
                        <label class="item item-input">
                            Class Time: <input type="time" placeholder="8:30 AM" ng-model="data.newItem4">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Days of Class
                            </div>
                            <select ng-model="data.newItem5">
                                <option selected>Monday, Wednesday</option>
                                <option>Tuesday, Thursday</option>
                            </select>
                        </label>

                    </div>
                    <button class="button button-block button-positive" type="submit">
                        + Add Class
                    </button>
                </div>
            </form>
        </div>
    </script>

    <!--Jake Adding Modal 2-->

    <script id="modal2.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">School Map</h1>
                <button class="button button-clear button-primary" ng-click="modal2.hide()">Close</button>
            </ion-header-bar>
            <ion-content class="padding" scroll="false">

                <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                    <img ng-src="{{imageSrc}}">
                </ion-scroll>

            </ion-content>
        </ion-modal-view>
    </script>

</ion-view>