<ion-view title="Welcome">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <a button menu-toggle="left"><h1 class="button button-full button-calm">Welcome to HomeworkPlanner!</h1></a>

<ul class="list">

    <div class="item item-divider">

        <p>With this app you can:</p>
    </div>

    <li ng-repeat="friends in friends" class="item"><p class="ion-android-checkmark">  {{friends.name}}</p></li>


</ul>

        <!-------<div ng-controller="TodoCtrl">
        <ion-item ng-repeat="todos in todos">
            {{todos.id}} {{todos.taskName}} </br> {{todos.priority}}
        </ion-item>

        </div>

        <li ng-repeat="ViewToday in ViewToday">{{ViewToday}}</li>
        </ion-list>------------->
        <a button menu-toggle="left" class="button icon-right  button-calm ion-chevron-right padding-right">Start Now</a>

        <div class="list card">

            <div class="item item-avatar">
                <img src="../img/mcfly.jpg">
                <h2>Prof. McFly</h2>
                <p>DGM 4990 Future Technologies</p>
            </div>

            <div class="item item-body">
                <h2>Assignment Details:</h2>
                <p>
                    Read Chapter 10: Hoverboard Basics and prepare for the quiz at the beginning of
                    class. Also, turn in your Hoverboard designs and prototype for mid-term grades. For
                    extra credit you can also submit your Delorean blueprints if ready.
                </p>
                <p>
                    <a href="#" class="subdued">Due at 11:30 AM</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-checkmark"></i>
                    Finished
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Notes
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Turned In
                </a>
            </div>

        </div>


    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title">&copy; 2014</div>
    </div>
</ion-view>